body{font-family: 'Otomanopee One', sans-serif;
margin: 0%;}
.name-highlight{color: blue;}
.half-width{
    width: 35%;
    float: left;
    margin-left: 5%;
    padding-left: 3%;
    
}
.half-width img{width: 100%;}
.top-banner{
    background-image: url("images/top-banner.png");
    
    background-repeat: no-repeat;

}
section{height: 650px;
padding-bottom: 2%;}
.link-button{text-decoration: none;
    background-image: linear-gradient(45deg,red,green);
        padding: 10px 20px;
    border-radius: 10px ;
    color: floralwhite;
    

}
#dream{color: lime;
font-size: 50px;}
h2{
    font-size: 40px;
    color: red;
}


.dream-area{
    background-image: url("images/dreambg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5x;
    height:60%
  

}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image:linear-gradient(red,blue);
    border-image-slice:1 ;
}
#baby-web{ border-left: 7px solid;
    border-image:linear-gradient(red,green);
    border-image-slice:1 ;
}
footer p{
    text-align: center;
}